BACKEND_URL=http://127.0.0.1:3001
CLASSIFIER_URL=http://127.0.0.1:8000
WATCH_DIRS=C:/Users/YOU/Downloads,C:/Users/YOU/Desktop,C:/Users/YOU/Documents/dlp-watch
HEARTBEAT_INTERVAL=30
POLICY_REFRESH_INTERVAL=3
AFTER_HOURS_START=19
AFTER_HOURS_END=7
LARGE_FILE_THRESHOLD_MB=100
